<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="portlet box blue-hoki detailsPageContainer">
            <div class="portlet-title">
                <div class="caption">جزئیات</div>
            </div>
            <div class="portlet-body">
                <div class="slimScrollDiv">
                    <div class="scroller" data-rail-color="yellow" data-handle-color="#a1b2bd" data-initialized="1">
                        <div class="note note-info">
                            <div class="productName marginB15">
                                <span>نام و کد کالا</span>
                                <span>لورم ایپسوم </span>
                            </div>
                            <div class="productName marginB15">
                                <span>ارزش کالا</span>
                                <span>لورم ایپسوم </span>
                            </div>
                            <div class="productName">
                                <span>گروه کالا</span>
                                <span>لورم ایپسوم </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="marginB5 marginR10">خصوصیات کمی</div>
                <div class="slimScrollDiv">
                    <div class="scroller" data-rail-color="yellow" data-handle-color="#a1b2bd" data-initialized="1">
                        <div class="note note-info">
                            <div class="productName marginB15">
                                <span>طول</span>
                                <span>لورم ایپسوم </span>
                            </div>
                            <div class="productName marginB15">
                                <span>عرض</span>
                                <span>لورم ایپسوم </span>
                            </div>
                            <div class="productName marginB15">
                                <span>ارتفاع</span>
                                <span>لورم ایپسوم </span>
                            </div>
                            <div class="productName marginB15">
                                <span>وزن</span>
                                <span>لورم ایپسوم </span>
                            </div>
                            <div class="productName">
                                <span>تعداد</span>
                                <span>لورم ایپسوم </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="marginB5 marginR10">تصویر</div>
                <div class="slimScrollDiv">
                    <div class="scroller" data-rail-color="yellow" data-handle-color="#a1b2bd" data-initialized="1">
                        <div class="note note-info imageBoxF">
                            <img src="./assets/images/1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="buttonBox">
                    <button type="button" class="forwarderButton">تایید</button>
                </div>
            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->