<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN : LISTS -->
        <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-4">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-body">
                        <div class="mt-element-list">
                            <div class="mt-list-container list-todo">
                                <div class="list-todo-line red"></div>
                                <ul>
                                    <li class="mt-list-item">
                                        <div class="list-todo-item blue-steel">
                                            <a class="list-toggle-container font-white" data-toggle="collapse" href="#task-1-2" aria-expanded="false">
                                                <div class="list-toggle done uppercase">
                                                    <div class="list-toggle-title bold">دریافت بار </div>
                                                    <div class="badge badge-default pull-right bold">3</div>
                                                </div>
                                            </a>
                                            <div class="task-list panel-collapse collapse in" id="task-1-2">
                                                <ul>
                                                    <li class="task-list-item done">
                                                        <div class="task-content">
                                                            <h4 class="uppercase bold">
                                                                <a href="javascript:;">دریافت بار تهران</a>
                                                            </h4>
                                                            <p>دریافت بار از متقاضی حمل بار در تهران با موفقیت انجام شد</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mt-list-item">
                                        <div class="list-todo-item green-meadow">
                                            <a class="list-toggle-container font-white" data-toggle="collapse" href="#task-2-2" aria-expanded="false">
                                                <div class="list-toggle done uppercase">
                                                    <div class="list-toggle-title bold">بارگیری </div>
                                                    <div class="badge badge-default pull-right bold">3</div>
                                                </div>
                                            </a>
                                            <div class="task-list panel-collapse collapse" id="task-2-2">
                                                <ul>
                                                    <li class="task-list-item done">
                                                        <div class="task-content">
                                                            <h4 class="uppercase bold">
                                                                <a href="javascript:;">بارگیری کرج</a>
                                                            </h4>
                                                            <p>بارگیری با 4 ساعت تاخیر در محل کرج انجام شد</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mt-list-item">
                                        <div class="list-todo-item yellow-crusta">
                                            <a class="list-toggle-container" data-toggle="collapse" href="#task-3-2" aria-expanded="false">
                                                <div class="list-toggle done uppercase">
                                                    <div class="list-toggle-title bold">در حال سفر </div>
                                                    <div class="badge badge-default pull-right bold">2</div>
                                                </div>
                                            </a>
                                            <div class="task-list panel-collapse collapse" id="task-3-2">
                                                <ul>
                                                    <li class="task-list-item done">
                                                        <div class="task-content">
                                                            <h4 class="uppercase bold">
                                                                <a href="javascript:;">در حال سفر نیشابور</a>
                                                            </h4>
                                                            <p>محموله در حال سفر در کیلومتر 888</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mt-list-item">
                                        <div class="list-todo-item yellow-crusta">
                                            <a class="list-toggle-container" data-toggle="collapse" href="#task-3-3" aria-expanded="false">
                                                <div class="list-toggle done uppercase">
                                                    <div class="list-toggle-title bold">بارگیری</div>
                                                    <div class="badge badge-default pull-right bold">2</div>
                                                </div>
                                            </a>
                                            <div class="task-list panel-collapse collapse" id="task-3-3">
                                                <ul>
                                                    <li class="task-list-item done">
                                                        <div class="task-content">
                                                            <h4 class="uppercase bold">
                                                                <a href="javascript:;">بارگیری مشهد</a>
                                                            </h4>
                                                            <p>در حال بارگیری ...</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END : LISTS -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->