<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="portlet box blue-hoki detailsPageContainer">
            <div class="portlet-title">
                <div class="caption">جزئیات</div>
            </div>
            <div class="portlet-body">
                <div class="topButtonBox">
                    <button type="button" class="raiButton">رونوشت</button>
                    <button type="button" class="raiButton">ارسال</button>
                </div>
                <div class="slimScrollDiv">
                    <div class="scroller" data-rail-color="yellow" data-handle-color="#a1b2bd" data-initialized="1">
                        <div class="note note-info">
                            <div class="productName marginB15">
                                <span>نام و کد کالا</span>
                                <span>لورم ایپسوم </span>
                            </div>
                            <div class="productName marginB15">
                                <span>ارزش کالا</span>
                                <span>لورم ایپسوم </span>
                            </div>
                            <div class="productName">
                                <span>گروه کالا</span>
                                <span>لورم ایپسوم </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="marginB5 marginR10">خصوصیات کمی</div>
                <div class="slimScrollDiv">
                    <div class="scroller" data-rail-color="yellow" data-handle-color="#a1b2bd" data-initialized="1">
                        <div class="note note-info">
                            <div class="productName marginB15">
                                <span>طول</span>
                                <span>لورم ایپسوم </span>
                            </div>
                            <div class="productName marginB15">
                                <span>عرض</span>
                                <span>لورم ایپسوم </span>
                            </div>
                            <div class="productName marginB15">
                                <span>ارتفاع</span>
                                <span>لورم ایپسوم </span>
                            </div>
                            <div class="productName marginB15">
                                <span>وزن</span>
                                <span>لورم ایپسوم </span>
                            </div>
                            <div class="productName">
                                <span>تعداد</span>
                                <span>لورم ایپسوم </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="marginB5 marginR10">تصویر</div>
                <div class="slimScrollDiv">
                    <div class="scroller" data-rail-color="yellow" data-handle-color="#a1b2bd" data-initialized="1">
                        <div class="note note-info imageBoxF">
                            <img src="./assets/images/1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="buttonBox">
                    <button type="button" class="raiButton">رد</button>
                    <button type="button" class="raiButton">تایید</button>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption"></div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"> </a>
                                    <!--<a href="#portlet-config" data-toggle="modal" class="config"> </a>-->
                                    <a href="javascript:;" class="reload"> </a>
                                    <!--<a href="javascript:;" class="remove"> </a>-->
                                </div>
                            </div>
                            <div class="portlet-body flip-scroll">
                                <table class="table table-bordered table-striped table-condensed flip-content" dir="rtl">
                                    <thead class="flip-content">
                                    <tr>
                                        <th> واحد </th>
                                        <th> وضعیت</th>
                                        <th class="numeric"> تاریخ ارجاع </th>
                                        <th class="numeric"> پیام </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <ng-container *ngFor="let item of items;let i = index;">
                                        <tr>
                                            <td class="numeric"> {{item.unite}} </td>
                                            <td class="numeric">
                                                <span class="label label-danger statusButton" *ngIf="item.status === 0"> رد شده </span>
                                                <span class="label label-warning statusButton" *ngIf="item.status === 1"> بررسی </span>
                                                <span class="label label-success statusButton" *ngIf="item.status === 2"> تایید شده</span>
                                            </td>
                                            <td class="numeric"> {{item.requestDate}} </td>
                                            <td class="numeric"> {{item.message}} </td>
                                        </tr>
                                    </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END SAMPLE TABLE PORTLET-->
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->