<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar">
            <div class="page-toolbar">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle"
                            data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                        درخواست جدید
                        <i class="fa fa-angle-down"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <div class="row">
            <div class="col-md-12">

                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>سفارشات ثبت شده</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <!--<a href="#portlet-config" data-toggle="modal" class="config"> </a>-->
                            <a href="javascript:;" class="reload"> </a>
                            <!--<a href="javascript:;" class="remove"> </a>-->
                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table class="table table-bordered table-striped table-condensed flip-content" dir="rtl">
                            <thead class="flip-content">
                            <tr>
                                <th width="20%"> ردیف </th>
                                <th> شماره درخواست </th>
                                <th class="numeric"> نوع درخواست </th>
                                <th class="numeric"> مبدا </th>
                                <th class="numeric">مقصد </th>
                                <th class="numeric"> تاریخ درخواست </th>
                            </tr>
                            </thead>
                            <tbody>
                           <ng-container *ngFor="let item of items;let i = index;">
                               <tr class="accordion-toggle" (click)="toggleRow(i)">
                                   <td> {{i}} </td>
                                   <td> {{item.requestNo}} {{item.id}} </td>
                                   <td class="numeric"> {{item.requestType}} </td>
                                   <td class="numeric">{{item.startStation}} </td>
                                   <td class="numeric"> {{item.endStation}} </td>
                                   <td class="numeric"> {{item.requestDate}} </td>
                               </tr>
                               <tr>
                                   <td colspan="6" class="collapseBodyCustom" [ngClass]="activeIndex == i? 'active' : ''">
                                       <div class="insideTable">
                                           <table class="table table-bordered table-striped table-condensed">
                                               <thead class="">
                                               <tr class="rowTable">
                                                   <th> ردیف </th>
                                                   <th> عنوان محموله </th>
                                                   <th class=""> حجم کل (تن) </th>
                                                   <th class="">حجم پذیرش شده </th>
                                                   <th class="">  </th>
                                                   <th class=""> حجم باقیمانده</th>
                                                   <th class="">  </th>
                                                   <th class=""> تاریخ درخواست</th>

                                               </tr>
                                               </thead>
                                               <tbody>
                                               <ng-container *ngFor="let item of subItems;let i = index;">
                                                   <tr class="rowTable">
                                                       <td> {{i}} </td>
                                                       <td> {{item.requestNo}} {{item.id}} </td>
                                                       <td class="">4 </td>
                                                       <td class="">
                                                           3
                                                       </td>
                                                       <td class="">
                                                           <button type="button" routerLink="/monitoring" class="submitRequest">رصد بار</button>
                                                       </td>
                                                       <td class=""> 45 </td>
                                                       <td class="">
                                                           <button type="button" class="submitRequest">پیشنهادات</button>
                                                       </td>
                                                       <td>
                                                           {{item.requestDate}}
                                                       </td>
                                                   </tr>
                                                   <!--<tr>-->
                                                       <!--<td colspan="6" class="collapseBodyCustom" [ngClass]="activeIndex == i? 'active' : ''">-->
                                                           <!--<div class="accordian-body">-->

                                                           <!--</div>-->
                                                       <!--</td>-->
                                                   <!--</tr>-->
                                               </ng-container>
                                               </tbody>
                                           </table>

                                       </div>
                                   </td>
                               </tr>
                           </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->